.header img {
    height:80px; 
}
.header{
    text-align: center;
}
.header nav {
    background: black;
    line-height:40px;
    font-size:25px;
  
}

.nav a{
    text-decoration: none;
    margin-right: 20px;
    padding:5px;
    color:white;  
}

.nav a:hover{
background-color:gray;
border-radius: 10px;
}
.navbar1{
    margin-left: 550px;
}